#app
  <background v-if="dogIf"></background>
  <dog v-if="dogIf"></dog>
  <sidebar></sidebar>
  <about class="container"></about>
  <projects class="container"></projects>
  <contacts class="container"></contacts>